name: Deploy to Dev Environment

on:
  workflow_dispatch:
  pull_request:
    branches:
      - develop
    types:
      - closed

jobs:
  deploy:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22.2'
      - name: Deploy
        uses: dagger/dagger-for-github@v5
        env:
          SSH_DEST: ${{ secrets.DEV_SSH_DEST }}
          SSH_KEY: ${{ secrets.DEV_SSH_KEY }}
        with:
          version: 0.11.3
          verb: call
          module: ./dagger
          args: >-
            deploy
            --source-dir=api
            --ssh-dest=env:SSH_DEST
            --ssh-key=env:SSH_KEY
            --target-path=~/repo/makevook/vook-deployment/dev
            --version=${{ github.sha }}
            --command="make deploy-api"
